.whole {
  /* Auto Layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  flex-wrap: wrap;
  position: absolute;
  width: 1111px;
  height: 1050px;
  left: 275px;
  top: 254.34px;
  border: 1px dotted skyblue;
  object-fit: contain;
}
.first-part {
  display: flex;
  flex-direction: row;
}
.text {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.text > h6 {
  margin-top: 3px;
  color: blue;
}
.first-box {
  /* Auto Layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;

  position: static;
  width: 354px;
  height: 274px;
  left: 0px;
  top: 0px;
  background-color: rgb(185, 168, 168);
  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0px;
}
.course > h6 {
  font-size: 1rem;
  font-weight: bold;
}
.course > p {
  font-size: 0.75rem;
  color: grey;
}
.circular {
  display: flex;
  flex-direction: row;
  object-fit: contain;
}
.circular > img {
  width: 145px;
  margin-right: 10px;
}
.some-text {
  margin-top: 5px;
}
.second-box {
  position: static;
  width: 354px;
  height: 274px;
  right: 0px;
  top: 298px;
  bottom: 318px;

  background-color: rgb(185, 168, 168);

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0px;
}
.second-box > h6 {
  font-size: 1rem;
}
.third-box {
  position: static;
  width: 354px;
  height: 274px;
  right: 0px;
  top: 616px;
  bottom: 0px;

  background-color: rgb(185, 168, 168);

  /* Inside Auto Layout */

  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 24px 0px;
}
.courses-names {
  display: flex;
  flex-direction: row;
}
.courses-with-highlight {
  margin-left: 17px;
  display: flex;
  flex-direction: column;
}
.courses-with-highlight > h6 {
  font-size: 0.75rem;
}
.courses-with-highlight > p {
  font-size: 0.5rem;
  color: grey;
}
.course-content {
  margin-left: 10px;
}
